h1 {
  color:rgb(27, 52, 116);
  text-align: center;
  padding: 0px 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.app {
  display: block;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(169, 175, 255);
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 2px 1px rgba(0, 42, 255, 0.2);
}

@media only screen and (max-width: 550px) {
  .app {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.problem {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

#input {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
}

.answer {
  padding: 10px;
}

.streak {
  float: right;
  padding: 32px;
}

.space-between {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(95, 133, 255);
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgb(112, 145, 255);
}

.data {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px 0px;
}